[submodule "app/libs/amiitool"]
	path = app/libs/amiitool
	url = git@github.com:8BitDream/amiitool.git
[submodule "app/libs/libjoycon"]
	path = app/libs/libjoycon
	url = git@github.com:8BitDream/libjoycon.git
