<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.hiddenramblings.tagmo">

    <uses-permission android:name="android.permission.BIND_NFC_SERVICE"
        tools:ignore="ProtectedPermissions"/>
    <uses-permission android:name="android.permission.NFC"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="29"/>
    <uses-permission android:name="android.permission.REQUEST_DELETE_PACKAGES"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_DOWNLOAD_MANAGER"/>
    <uses-permission android:name="android.permission.BLUETOOTH"/>
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT"/>
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>
    <uses-permission android:name="android.permission.BLUETOOTH_ADVERTISE" />
    <uses-permission android:name="android.permission.BLUETOOTH_SCAN"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />

    <uses-feature android:name="android.hardware.nfc" android:required="false"/>
    <uses-feature android:name="android.hardware.bluetooth" android:required="false"/>
    <uses-feature android:name="android.hardware.bluetooth_le" android:required="false"/>

    <queries>
        <package android:name="com.hiddenramblings.tagmo" />
        <package android:name="com.hiddenramblings.tagmo.eightbit" />
    </queries>

    <application
        android:name=".TagMo_"
        android:allowBackup="true"
        android:fullBackupContent="@xml/full_backup_content"
        android:dataExtractionRules="@xml/extraction_content"
        android:requestLegacyExternalStorage="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:largeHeap="true" >
        <activity
            android:name=".browser.BrowserActivity"
            android:configChanges="orientation|screenLayout|screenSize|smallestScreenSize"
            android:launchMode="singleTask"
            android:exported="true">
            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable_content"/>
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="file" />
                <data android:mimeType="*/*" />
                <data android:pathPattern=".*\\.bin" />
            </intent-filter>
        </activity>
        <activity-alias
            android:name="com.hiddenramblings.tagmo.NFCIntentFilter"
            android:targetActivity=".browser.BrowserActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.nfc.action.NDEF_DISCOVERED" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.nfc.action.TECH_DISCOVERED" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <meta-data android:name="android.nfc.action.TECH_DISCOVERED"
                android:resource="@xml/nfc_technology_list" />
            <intent-filter>
                <action android:name="android.nfc.action.TAG_DISCOVERED" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity-alias>
        <activity
            android:name=".NfcActivity"
            android:permission="android.permission.BIND_NFC_SERVICE"
            android:configChanges="orientation|screenLayout|screenSize|smallestScreenSize"
            android:launchMode="singleTop">
        </activity>
        <activity
            android:name=".hexcode.HexCodeViewer"
            android:theme="@style/DialogTheme.NoActionBar" />
        <activity
            android:name=".ImageActivity"
            android:theme="@style/DialogTheme.NoActionBar" />
        <activity
            android:name=".amiibo.tagdata.TagDataEditor"
            android:theme="@style/DialogTheme.NoActionBar" />
        <service
            android:name=".browser.service.FlaskGattService" />
        <service
            android:name=".browser.service.JoyConGattService" />
        <receiver
            android:name=".UpdateReceiver"
            android:exported="true">
            <intent-filter android:priority="999">
                <action android:name="android.intent.action.MY_PACKAGE_REPLACED" />
            </intent-filter>
        </receiver>
        <meta-data
            android:name="com.android.packageinstaller.notification.smallIcon"
            android:resource="@mipmap/ic_launcher" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_provider_paths"/>
        </provider>
    </application>
</manifest>