<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.BIND_NFC_SERVICE"
        tools:ignore="ProtectedPermissions"/>
    <uses-permission android:name="android.permission.NFC"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="29" />
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_DOWNLOAD_MANAGER"/>
    <uses-permission android:name="${storagePermission}"
        tools:ignore="ScopedStorage" />
    <uses-permission android:name="${installPermission}" />
    <uses-permission android:name="android.permission.REQUEST_DELETE_PACKAGES"/>
    <uses-permission android:name="android.permission.BLUETOOTH"/>
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT"/>
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>
    <uses-permission android:name="android.permission.BLUETOOTH_ADVERTISE" />
    <uses-permission android:name="android.permission.BLUETOOTH_SCAN"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.camera.any" android:required="false"/>
    <uses-feature android:name="android.software.webview" android:required="false"/>
    <uses-feature android:name="android.hardware.nfc" android:required="false"/>
    <uses-feature android:name="android.hardware.bluetooth" android:required="false"/>
    <uses-feature android:name="android.hardware.bluetooth_le" android:required="false"/>
    <uses-feature android:name="${wearUsesFeature}" />

    <uses-sdk tools:overrideLibrary="androidx.wear,
    com.google.mlkit.vision.barcode.bundled, com.google.mlkit.vision.barcode.common,
    com.google.mlkit.vision.common, com.google.mlkit.common, com.google.mlkit.vision.interfaces,
    androidx.camera.camera2, androidx.camera.core, androidx.camera.view, androidx.camera.lifecycle" />

    <queries>
        <package android:name="com.hiddenramblings.tagmo.eightbit" />
        <package android:name="com.hiddenramblings.tagmo" />
    </queries>

    <application
        android:name=".TagMo"
        android:enableOnBackInvokedCallback="true"
        android:allowBackup="true"
        android:fullBackupContent="@xml/full_backup_content"
        android:dataExtractionRules="@xml/extraction_content"
        android:hasFragileUserData="${hasFragileUserData}"
        android:requestLegacyExternalStorage="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".browser.BrowserActivity"
            android:configChanges="orientation|screenLayout|screenSize|smallestScreenSize"
            android:launchMode="singleTask"
            android:exported="true">
            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable_content"/>
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="file" />
                <data android:mimeType="*/*" />
                <data android:pathPattern=".*\\.bin" />
            </intent-filter>
        </activity>
        <activity-alias
            android:name="com.hiddenramblings.tagmo.NFCIntentFilter"
            android:targetActivity=".browser.BrowserActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.nfc.action.TECH_DISCOVERED" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <meta-data android:name="android.nfc.action.TECH_DISCOVERED"
                android:resource="@xml/nfc_automation_list" />
            <!--intent-filter>
                <action android:name="android.nfc.action.TAG_DISCOVERED" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter-->
        </activity-alias>
        <activity
            android:name=".nfctech.NfcActivity"
            android:permission="android.permission.BIND_NFC_SERVICE"
            android:configChanges="orientation|screenLayout|screenSize|smallestScreenSize"
            android:launchMode="singleTop">
        </activity>
        <activity
            android:name=".hexcode.HexCodeViewer"
            android:theme="@style/DialogTheme.NoActionBar" />
        <activity
            android:name=".browser.ImageActivity"
            android:theme="@style/DialogTheme.NoActionBar" />
        <activity
            android:name=".amiibo.tagdata.TagDataEditor"
            android:theme="@style/DialogTheme.NoActionBar" />
        <activity
            android:name=".qrcode.QRCodeScanner"
            android:label="@string/qr_code_scanner"
            android:configChanges="orientation|screenLayout|screenSize|smallestScreenSize"
            android:launchMode="singleTop">
        </activity>
        <service
            android:name=".bluetooth.FlaskGattService" />
        <service
            android:name=".bluetooth.PuckGattService" />
        <receiver
            android:name=".UpdateReceiver"
            android:exported="true">
            <intent-filter android:priority="999">
                <action android:name="android.intent.action.MY_PACKAGE_REPLACED" />
            </intent-filter>
        </receiver>
        <meta-data
            android:name="com.android.packageinstaller.notification.smallIcon"
            android:resource="@mipmap/ic_launcher" />
        <meta-data
            android:name="com.google.android.wearable.standalone"
            android:value="true" />
        <meta-data
            android:name="com.google.mlkit.vision.DEPENDENCIES"
            android:value="barcode" />
        <!-- To use multiple models: android:value="barcode,model2,model3" -->

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_provider_paths"/>
        </provider>
    </application>
</manifest>