name: TagMo CI

on:
  push:
    branches: [ master ]
    paths-ignore:
      - '**/README.md'
      - '**/FUNDING.yml'
      - '.github/ISSUE_TEMPLATE/**'
      - 'assets/**'

permissions:
  actions: write
  contents: write

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  orphan:
    if: ${{ github.repository == 'HiddenRamblings/TagMo' }}
    runs-on: ubuntu-latest
    env:
      CI: true
    steps:

    - name: Drop orphan tags
      continue-on-error: true
      uses: fabriziocacicia/delete-tags-without-release-action@v0.1.0
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

  wearos:
    needs: orphan
    continue-on-error: true
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
      with:
        repository: HiddenRamblings/TagMo
        submodules: recursive
    - name: set up JDK 17
      uses: actions/setup-java@v4
      with:
        java-version: '17'
        distribution: 'adopt'
    - name: Setup Android SDK
      uses: android-actions/setup-android@v3

    - name: Retrieve commit identification
      run: |
        GIT_BRANCH=$(git name-rev --name-only HEAD)
        echo "GIT_BRANCH=${GIT_BRANCH}" >> $GITHUB_ENV
        GIT_HASH=$(git rev-parse --short HEAD)
        echo "GIT_HASH=${GIT_HASH}" >> $GITHUB_ENV
        APK_LINK="https://github.com/HiddenRamblings/TagMo/releases/download/master/TagMo-${GIT_HASH}-github-release-signed.apk"
        echo "APK_LINK=${APK_LINK}" >> $GITHUB_ENV

    - uses: burrunan/gradle-cache-action@v3
      name: Build WearOS Gradle
      with:
        job-id: TagMo-WearOS
        # Specifies arguments for Gradle execution
        arguments: |
          assembleGithubWearos
        # Gradle version to use for execution:
        #   wrapper (default), current, rc, nightly, release-nightly, or
        #   versions like 6.6 (see https://services.gradle.org/versions/all)
        gradle-version: wrapper
        # Properties are passed as -Pname=value
        properties: |
          org.gradle.configuration-cache=true

    - uses: r0adkll/sign-android-release@v1
      name: Sign WearOS APK
      # ID used to access action output
      id: sign_wear
      with:
        releaseDirectory: app/build/outputs/apk/github/wearos
        signingKeyBase64: ${{ secrets.KEYSTORE_FILE }}
        alias: "tagmo"
        keyStorePassword: ${{ secrets.KEYSTORE_PASSWORD }}
        keyPassword: ${{ secrets.KEYSTORE_PASSWORD }}
      env:
        # override default build-tools version (29.0.3) -- optional
        BUILD_TOOLS_VERSION: "34.0.0"

    - uses: actions/upload-artifact@v4
      with:
        name: TagMo-${{ env.GIT_HASH }}-WearOS
        path: |
          ${{steps.sign_wear.outputs.signedReleaseFile}}

    - uses: 8bitDream/action-github-releases@v1.0.0
      if: github.event_name != 'pull_request'
      with:
        repo_token: "${{ secrets.GITHUB_TOKEN }}"
        automatic_release_tag: wearos
        prerelease: true
        title: TagMo-${{ env.GIT_HASH }}-WearOS
        files: |
          ${{steps.sign_wear.outputs.signedReleaseFile}}

    - name: Upload release to discord
      uses: sinshutu/upload-to-discord@master
      env:
        DISCORD_WEBHOOK: ${{ secrets.DISCORD_WEBHOOK }}
      with:
        args: ${{steps.sign_wear.outputs.signedReleaseFile}}

  android:
    needs: wearos
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
      with:
        repository: HiddenRamblings/TagMo
        submodules: recursive
    - name: set up JDK 17
      uses: actions/setup-java@v4
      with:
        java-version: '17'
        distribution: 'temurin'
        cache: gradle
    - name: Setup Android SDK
      uses: android-actions/setup-android@v3

    - name: Retrieve commit identification
      run: |
        GIT_BRANCH=$(git name-rev --name-only HEAD)
        echo "GIT_BRANCH=${GIT_BRANCH}" >> $GITHUB_ENV
        GIT_HASH=$(git rev-parse --short HEAD)
        echo "GIT_HASH=${GIT_HASH}" >> $GITHUB_ENV

    - uses: burrunan/gradle-cache-action@v3
      name: Build Release Gradle
      with:
        job-id: TagMo
        # Specifies arguments for Gradle execution
        arguments: |
          --configure-on-demand
          assembleGithubRelease
        # Gradle version to use for execution:
        #   wrapper (default), current, rc, nightly, release-nightly, or
        #   versions like 6.6 (see https://services.gradle.org/versions/all)
        gradle-version: wrapper
        # Properties are passed as -Pname=value
        properties: |
          org.gradle.configuration-cache=true

    - uses: r0adkll/sign-android-release@v1
      name: Sign Release APK
      # ID used to access action output
      id: sign_main
      with:
        releaseDirectory: app/build/outputs/apk/github/release
        signingKeyBase64: ${{ secrets.KEYSTORE_FILE }}
        alias: "tagmo"
        keyStorePassword: ${{ secrets.KEYSTORE_PASSWORD }}
        keyPassword: ${{ secrets.KEYSTORE_PASSWORD }}
      env:
        # override default build-tools version (29.0.3) -- optional
        BUILD_TOOLS_VERSION: "34.0.0"

    - uses: actions/upload-artifact@v4
      with:
        name: TagMo-${{ env.GIT_HASH }}
        retention-days: 1
        path: |
          ${{steps.sign_main.outputs.signedReleaseFile}}

    - uses: 8bitDream/action-github-releases@v1.0.0
      if: github.event_name != 'pull_request'
      with:
        repo_token: "${{ secrets.GITHUB_TOKEN }}"
        automatic_release_tag: ${{ env.GIT_BRANCH }}
        prerelease: ${{ env.GIT_BRANCH != 'master' }}
        title: TagMo-${{ env.GIT_HASH }}
        files: |
          ${{steps.sign_main.outputs.signedReleaseFile}}

    - name: Upload release to discord
      uses: sinshutu/upload-to-discord@master
      env:
        DISCORD_WEBHOOK: ${{ secrets.DISCORD_WEBHOOK }}
      with:
        args: ${{steps.sign_main.outputs.signedReleaseFile}}

    - name: Purge cache
      if: ${{ ! startsWith(github.event.head_commit.message, 'Update ') }}
      continue-on-error: true
      uses: MyAlbum/purge-cache@v1
      with:
        max-age: 172800 # 2 days, default: 7 days since last use
